<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzTitle="Usuários" nzIcon="user">
        <ul>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/usuarios">Consulta</a>
            </li>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/usuarios/cad-usuario">Novo usuários</a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="Clientes" nzIcon="user">
        <ul>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/cliente">Consulta</a>
            </li>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/cliente/cad-cliente">Novo cliente</a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="Imovel" nzIcon="user">
        <ul>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/imovel">Consulta</a>
            </li>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/imovel/cad-imovel">Novo imovel</a>
            </li>
        </ul>
    </li>
</ul>