<nz-page-header  [nzTitle]="novoRegistro ? 'Novo registro' : 'Editar registro'">
    <nz-page-header-extra>
        <button nz-button (click)="cancelar()"><i nz-icon class="far fa-undo" nzTheme="outline"></i>Cancelar</button>
        <button nz-button nzType="primary" (click)="salvar()"><i nz-icon class="far fa-check"></i>Salvar</button>
    </nz-page-header-extra>
</nz-page-header>


<div class="padding_form">

    <div nz-row>
        <div nz-col nzSm="24">
            <nz-form-item>
                <nz-radio-group [(ngModel)]="ImovelFinalidade" (ngModelChange)="ImovelFinalidadeChange()">
                    <label nz-radio [nzValue]="true">Locação</label>
                    <label nz-radio [nzValue]="false">Venda</label>
                </nz-radio-group>
            </nz-form-item>
        </div>
    </div>
    <form nz-form [formGroup]="form" *ngIf="imovel">
        <div nz-row>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Tipo do imovel</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="tipoImovel" id="tipoImovel" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <ng-container *ngIf="ImovelFinalidade">
                <div nz-col nzSm="24">
                    <nz-form-label nzFor="nome" [nzNoColon]="true">Valor aluguel</nz-form-label>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="24" >
                            <input nz-input placeholder="Digite aqui..." formControlName="valorAluguel"
                                id="valorAluguel" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
            </ng-container>
            <ng-container *ngIf="ImovelFinalidade == false">
                <div nz-col nzSm="24">
                    <nz-form-label nzFor="nome" [nzNoColon]="true">Valor venda</nz-form-label>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="24" >
                            <input nz-input placeholder="Digite aqui..." formControlName="valorVenda" id="valorVenda"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </ng-container>
             <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Descrição</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="descricao" id="descricao" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Finalidade</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="finalidade" id="finalidade" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Dormitórios</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24">
                        <input nz-input placeholder="Digite aqui..." formControlName="dormitorios" id="dormitorios" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Suite</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="suite" id="suite" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Vaga de garagem</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="vagasGaragem" id="vagasGaragem" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Área construida</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="areaContruida" id="areaContruida" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Área total</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="areaTotal" id="areaTotal" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Url da Imagem</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="urlImagem" id="urlImagem" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Rua</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="rua" id="rua" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Número</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="numero" id="numero" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Bairro</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="bairro" id="bairro" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Complemento</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24">
                        <input nz-input placeholder="Digite aqui..." formControlName="complemento" id="complemento" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Cep</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                        <input nz-input placeholder="Digite aqui..." formControlName="cep" 
                        mask="00.000-000" id="cep" />
                    </nz-form-control>
                </nz-form-item>
            </div> 
            <div nz-col nzSm="24">
                <nz-form-label nzFor="estado" [nzNoColon]="true">Estado</nz-form-label>                
                <nz-form-item>
                    <nz-form-control [nzSpan]="24">
                        <nz-select nzShowSearch nzAllowClear [(ngModel)]="estadoSelecionado"
                            [nzPlaceHolder]="carregandoEstados ? 'Carregando...' : 'Selecione...'"
                            formControlName="estadoId" (ngModelChange)="carregarCidades($event)">
                            <ng-container *ngFor="let estado of estados">
                                <nz-option *ngIf="!carregandoEstados" [nzLabel]="estado.nome" [nzValue]="estado.id">
                                </nz-option>
                            </ng-container>
                            <nz-option *ngIf="carregandoEstados" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i>
                                Carregando...
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="cidade" [nzNoColon]="true">Cidade</nz-form-label>                
                <nz-form-item>
                    <nz-form-control [nzSpan]="24">
                        <nz-select nzShowSearch nzAllowClear
                            [nzPlaceHolder]="carregandoCidades ? 'Carregando...' : 'Selecione...'"
                            formControlName="cidadeId" [(ngModel)]="cidadeSelecionada">
                            <ng-container *ngFor="let cidade of cidades">
                                <nz-option *ngIf="!carregandoCidades" [nzLabel]="cidade.nome" [nzValue]="cidade.id">
                                </nz-option>
                            </ng-container>
                            <nz-option *ngIf="carregandoCidades" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i>
                                Carregando...
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
           
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Situação</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzErrorTip="E-mail inválido">
                        <input nz-input placeholder="Digite aqui..." formControlName="situacao" id="situacao" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Cliente</nz-form-label>
                <nz-form-item>
                    <nz-select nzShowSearch nzAllowClear [(ngModel)]="clienteSelecionado"
                        [nzPlaceHolder]="carregandoClientes ? 'Carregando...' : 'Selecione...'"
                        formControlName="clienteId">
                        <ng-container *ngFor="let client of cliente">
                            <nz-option *ngIf="!carregandoClientes" [nzLabel]="client.nome" [nzValue]="client.id">
                            </nz-option>
                        </ng-container>
                        <nz-option *ngIf="carregandoClientes" nzDisabled nzCustomContent>
                            <i nz-icon nzType="loading" class="loading-icon"></i>
                            Carregando...
                        </nz-option>
                    </nz-select>

                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Usuario</nz-form-label>
                <nz-form-item>
                    <nz-select nzShowSearch nzAllowClear [(ngModel)]="usuarioSelecionado"
                        [nzPlaceHolder]="carregandoUsuario ? 'Carregando...' : 'Selecione...'"
                        formControlName="usuarioId">
                        <ng-container *ngFor="let User of usuario">
                            <nz-option *ngIf="!carregandoClientes" [nzLabel]="User.nome" [nzValue]="User.id">
                            </nz-option>
                        </ng-container>
                        <nz-option *ngIf="carregandoUsuario" nzDisabled nzCustomContent>
                            <i nz-icon nzType="loading" class="loading-icon"></i>
                            Carregando...
                        </nz-option>
                    </nz-select>

                </nz-form-item>
            </div>
        </div>
    </form>
</div>